/*
Colors:
yellow #f5d171
pink: #f3c5b9
green: #bfd1a0
blue: #c8e6e0
beige: #efecda
text color: #03302d

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }

.padded-s  { padding: 3%;    }
.padded    { padding: 5%;    }
.padded-1  { padding: 1rem;  }
.padded-2  { padding: 2rem;  }
.padded-3  { padding: 3rem;  }


.padded-t-2  { padding-top: 2rem;  }
.padded-b-0 { padding-bottom: 0rem; }
.padded-b-2  { padding-bottom: 2rem;  }

.margin-b-0 { margin-bottom: 0; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-b-3 { margin-bottom: 3rem; }


.bg-featured { background-color: #183039;  }
.bg-dark     { background-color: #24282B;  }

.light-text     { color: white; } 
.featured-text  { color: #183039; } 


.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }

/* General typography & universal styles  */

body {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #03302d;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Quattrocento', serif;
    line-height: 1;
    margin-bottom: 3rem;
    font-weight: normal;
}
h1 {
    font-size: 3rem;
    line-height: 0.8;
}

h1 span {
    display: block;
    font-size: 3.5rem;
    line-height: 0.9;
}

h2 { font-size: 3.5rem;}

h2 span {
    display: block;
    font-size: 2rem;
    line-height: 0.9;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    font-weight: 200;
    margin-bottom: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.tight-text {
    line-height: 0.8;
  }
  
  .price { 
      display: block;
      font-weight: 400;
      margin-top: 0.5rem;
      text-align: right;
      font-size: 1.5rem;
  }
  
  .text-lg { font-size: 4.5rem;} 
  .text-xl { font-size: 6rem;} 

  .services-width { max-width: 30%; }

/*  Font Awesome Icons --------------------  */
.fas,
.fab {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

  /* Header & Footer */

footer {
    padding: 5%;
    padding-bottom: 1rem;
}

footer a {
    font-size: 1.2rem;
}

footer h2 {
    margin-bottom: 0.5rem;
}

.sub-footer {
    padding-top: 5%;
}

.sub-footer p {
    font-size: 0.8rem;
    opacity: 0.7;
}

.bg-yellow {
    background-color: #f5d171;
}

.bg-pink {
    background-color: #f3c5b9;
}

.bg-green {
    background-color: #bfd1a0;
}

.bg-blue {
    background-color: #c8e6e0;
}

.bg-beige {
    background-color: #efecda;
}

.bg-purple {
    background-color: #b091b3
}

.bg-grey {
    background-color: #8797B2;
}


.bg-dark {
    background-color: #03302d;
}

.text-yellow {
    color: #f5d171;
}

.text-purple {
    color: #b091b3
}

.text-blue {
    color: #c8e6e0;
}

.text-pink {
    color: #f3c5b9;
}

.subtle {
    opacity: 60%;
}

/* Images & Background Images */

.bg-image {
    background-image: url('/images/page-1.png');
    background-color: #183039;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.shape-window {
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem; 
}

.shape-circle {
    border-radius: 20rem;
}

.bg-1 {
    background-image: url('/images/page-1.png');
}

.bg-2 {
    background-image: url('/images/page-2.png');
}

.bg-3 {
    background-image: url('/images/page-3.png');
}

.bg-4 {
    background-image: url('/images/page-4.png');
}

.bg-5 {
    background-image: url('/images/page-5.png');
}

.bg-6 {
    background-image: url('/images/page-6.png');
}

.button {
    padding: 0.5rem 2rem;
    background-color: #f5d171;
    appearance: none;
    border: 2px solid #f5d171;
    color: #03302d;
   /* text-decoration: none;
    display: inline-block;
    font-weight: 400; */
}

.button-packages {
    padding: 0.5rem 2rem;
    background-color: #bfd1a0;
    appearance: none;
    border: 2px solid #bfd1a0;
    color: #03302d;
   /* text-decoration: none;
    display: inline-block;
    font-weight: 400; */
}

.button-about {
    padding: 0.5rem 2rem;
    background-color: #c8e6e0;
    appearance: none;
    border: 2px solid #c8e6e0;
    color: #03302d;
   /* text-decoration: none;
    display: inline-block;
    font-weight: 400; */
}

.button-portfolio {
    padding: 0.5rem 2rem;
    background-color: #f3c5b9;
    appearance: none;
    border: 2px solid #f3c5b9;
    color: #03302d;
   /* text-decoration: none;
    display: inline-block;
    font-weight: 400; */
}

.button-testimonial {
    padding: 0.5rem 2rem;
    background-color: #8797B2;
    appearance: none;
    border: 2px solid #8797B2;
    color: #03302d;
   /* text-decoration: none;
    display: inline-block;
    font-weight: 400; */
}

.button-contact {
    padding: 0.5rem 2rem;
    background-color: #b091b3;
    appearance: none;
    border: 2px solid #b091b3;
    color: #03302d;
   /* text-decoration: none;
    display: inline-block;
    font-weight: 400; */
}

.quote-icon {
    font-size: 6rem;
    display: inline-block;
    color: #b091b3;
    line-height: 1;
}

/* Gridlex SM  */
@media(max-width: 48em) {

    .mob-hide { display: none; }

    .mob-padded-t-0 { padding-top: 0; }

    h1 { font-size: 6rem; }
    h1 span { font-size: 2rem; }  
    
    footer a { font-size: 1rem;}

}

/* Custom Media Query XXS  */
@media(max-width: 25em) {
    h1 { font-size: 4.5rem; }
    h1 span { font-size: 1.5rem; }  
}