<header>

    <section class="grid">
            <a href="#services" class="col-2 center bg-yellow button"> Services </a>
            <a href="#packages" class="col-2 center button-packages"> Packages </a>
            <a href="#about" class="col-2 center button-about"> About me </a>
            <a href="#portfolio" class="col-2 center button-portfolio"> Portfolio </a>
            <a href="#testimonials" class="col-2 center button-testimonial"> Testimonials </a>
            <a href="#contact" class="col-2 center button-contact"> Get in touch </a>
    </section>


    <div class="col-1 show-md">
        <div class="hamburger-button">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
      
      <nav class="mobile-menu padded">
      <a href="#services"> Services </a> 
      <a href="#packages"> Packages </a>
      <a href="#about"> About </a>
      <a href="#portfolio"> Portfolio </a>
      <a href="#testimonials"> Testimonials </a>
      <a href="#contact"> Contact</a>
      </nav>



</header>